
    <div class="bg_b">
        <div class="pst"> 您当前的位置： <a href="index.html" >首页</a>>
            <a href="about.html" >企业介绍</a></div>
    </div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name"><img src="__STATIC__/images/name_2.png"  /><i>&nbsp;</i></div>
            <ul class="s_nav">

                {foreach $about_data.sub_nav as $item}
                <li class="{if $about_data.cate == $item.n_id}on{/if}"><a href="/index/about/about/category/{$about_data.category}/cate/{$item.n_id}">{$item.nav_name}</a></li>
                {/foreach}

            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>企业介绍</span></div>

            {foreach $about_data.info as $item}
            <div class="scd_m clearfix about">
                <dl class="contact clearfix"><dt><img src="__STATIC__/images/{$item.a_img}" alt=""></dt>
                    <dd>
                        <h1>{$item.a_title}</h1>
                        {$item.a_content}
                    </dd>
                </dl>
            </div>
            {/foreach}

        </div>
    </div>
    <div class="space_hx">&nbsp;</div>

