
    <div class="bg_b">
        <div class="pst"> 您当前的位置：<a href="index.html" >首页</a>><a
                href="case.html" >合作案例</a>><a href="case.html"
                >工装案例</a></div>
    </div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name"><img src="__STATIC__/images/name_6.png"
                    width="164" height="48" alt="" /><i>&nbsp;</i></div>
            <ul class="s_nav">
                <li class="on"><a href="/index/cases/cases/category/2/cate/6" >工装案例</a></li>
                <li><a href="/index/cases/cases/category/2/cate/7" >家装案例</a></li>
                <li><a href="/index/cases/cases/category/2/cate/8" >其他案例</a></li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>案例详情</span></div>
            <div class="scd_m clearfix">
                <div class="pro_d">
                    <h2>{$info.c_title}</h2>
                    <p>完成时间：{$info.c_time|date="Y-m-d",###}</p>
                    <div class="ctn clearfix">
                        <p align="center"><img src="__STATIC__/images/case/{$info.c_img}" ></p>
                        <p>{$info.c_content}</p>
                        <h4>客户要求：</h4>
                        <p>{$info.c_require}</p>
                        <h4>订单金额：</h4>
                        <p>{$info.c_price}</p>
                        <h4>满意评分（满分10）：</h4>
                        <p>{$info.c_grade}分</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <