
    <div class="bg_b">
        <div class="pst"> 您当前的位置：<a href="index.html" >首页</a>><a
                href="zhaopin.html" >人才招聘</a></div>
    </div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name"><img src="__STATIC__/images/name_7.png"  /><i>&nbsp;</i></div>
            <ul class="s_nav">
                {foreach $re_data.sub_nav as $item}
                    <li class="{if $re_data.cate == $item.n_id}on{/if}"><a href="/index/recruit/recruit/category/{$re_data.category}/cate/{$item.n_id}">{$item.nav_name}</a></li>
                {/foreach}
<!--                <li class="on"><a href="zhaopin.html" >人才招聘</a></li>-->
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>人才招聘</span></div>
            <div class="scd_m">
                <ul class="list">
                    {foreach $re_data.res as $item}
                    <li><a href="/index/recruit/recruitinfo/rid/{$item.r_id}" >{$item.r_desc}</a></li>
                    {/foreach}
<!--                    <li><a href="zhaopin_info.html" >【技术助理】招聘3名技术助理，工资5000-8000（￥）</a></li>-->
<!--                    <li><a href="zhaopin_info2.html" >【技术工程师】招聘1名技术工程师，工资10000-20000（￥）</a></li>-->
                </ul>
                <div class="space_hx">&nbsp;</div>
                <div class="pages">
                    {$re_data.page}
                </div>
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
