
    <div class="bg_b">
        <div class="pst"> 您当前的位置：<a href="/" >首页</a>><a
                href="/index/recruit/recruit/category/4" >人才招聘</a></div>
    </div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name"><img src="__STATIC__/images/name_7.png"  /><i>&nbsp;</i></div>
            <ul class="s_nav">
                <li class="on"><a href="/index/recruit/recruit/category/4" >人才招聘</a></li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>人才招聘</span></div>
            <div class="scd_m clearfix">
                <div class="pro_d">
                    <h2>{$info.r_title}</h2>
                    <p>发布时间：{$info.r_time|date="Y-m-d",###}</p>
                    <div class="ctn clearfix">
                        <h3>任职要求：</h3>
                        <p>{$info.r_require}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
