.svn
.DS_Store
temp/
.idea
!.gitkeep


data/
*~

*.gem
*.orig
*.rbc
*.rbenv-version
*.ruby-version
*.sass-cache
*.scssc
*.sublime-*
*.swp
*.swo
$.swn
*.zip

.bundle
node_modules
bower_components

npm-debug.log
.sass-cache/

package-lock.json
.stylelintcache

.vagrant
Vagrantfile

h5/static/config.js 
appserver/.env
