

<div class="warp">
    <div class="blog-header">
      <div class="container">
        <nav class="about-nav">
          <a href="#" class="active">平台简介</a>
          <a href="#">联系方式</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="blog-main">
          <div class="blog-post">
            <p>未来资讯平台专注于报道智能科技前沿的综合垂直门户，秉承“引领未来智能生活”的理念，持续关注智能家居、可穿戴设备、智能医疗、机器人、3D打印、智驾等诸多科技前沿领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、硬件评测、服务定制、最新资讯、圈子交流等服务，致力于成为最具价值的前沿科技信息互动平台。</p>
            <p>我们致力于引领未来智能生活。</p>
            <hr>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->

</div>

